* @cover
/.github/CODEOWNERS @cover
/.github/workflows/ @cover
/.github/PULL_REQUEST_TEMPLATE/ @cover
/src/config/ @cover
/src/services/ @cover
/scripts/ @cover
/test/ @cover
/README.md @cover
/CONTRIBUTING.md @cover
/package.json @cover
/data/README.md @cover
